*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.container .select{
    background-color: #000;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.first-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.first-container .box1{
    width: 35vh;
    height: 10vw;
    background-color: #fad390;
}

.first-container .box2{
    background-color:#f8c291;
    width: 41vh;
    height: 10vw;
}
.first-container .box3{
    background-color:#6a89cc;
    width: 41vh;
    height: 10vw;
}
.first-container .box4{
    background-color:#82ccdd;
    width: 41vh;
    height: 10vw;
}
.first-container .box5{
    background-color:#b8e994;
    width: 41vh;
    height: 10vw;
}
.second-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.second-container .box6{
    width: 35vh;
    height: 10vw;
    background-color: #f6b93b;
}

.second-container .box7{
    background-color:#e55039;
    width: 41vh;
    height: 10vw;
}
.second-container .box8{
    background-color:#4a69bd;
    width: 41vh;
    height: 10vw;
}
.second-container .box9{
    background-color:#60a3bc;
    width: 41vh;
    height: 10vw;
}
.second-container .box10{
    background-color:#78e08f;
    width: 41vh;
    height: 10vw;
}
.third-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.third-container .box11{
    width: 35vh;
    height: 10vw;
    background-color: #fa983a;
}

.third-container .box12{
    background-color:#eb2f06;
    width: 41vh;
    height: 10vw;
}
.third-container .box13{
    background-color:#1e3799;
    width: 41vh;
    height: 10vw;
}
.third-container .box14{
    background-color:#3c6382;
    width: 41vh;
    height: 10vw;
}
.third-container .box15{
    background-color:#38ada9;
    width: 41vh;
    height: 10vw;
}
.forth-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    overflow: auto;
}
.forth-container .box16{
    width: 35vh;
    height: 10vw;
    background-color: #22a6b3;
}

.forth-container .box17{
    background-color:#be2edd;
    width: 41vh;
    height: 10vw;
}
.forth-container .box18{
    background-color:#4834d4;
    width: 41vh;
    height: 10vw;
}
.forth-container .box19{
    background-color:#0a3d62;
    width: 41vh;
    height: 10vw;
}
.forth-container .box20{
    background-color:#079992;
    width: 41vh;
    height: 10vw;
}
/* .second-container{
    position: fixed;
    width: calc(100vw - 48px);
    height: 100%;
    font-weight: 600;
    overflow: hidden;
} */
